body {
    margin: 0;
    font-family: sans-serif;
    background-color: #87A599;
}
a {
    text-decoration: none;
}
.navbar {
    width: 100%;
    background-color: #30E3CA;
    color: #000;
    margin: 0 0 10%;
    padding: 0;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.container {
    text-align: center;
    padding: .8em 1.2em;
}

header {
    display: flex;
    justify-content: space-between;
}

.hide-mobile {
    display: none;
}

.menu {
    width: 25px;
    margin-top: 45% ;
    padding: 0;
}

.hello {
    width: 70%;
    margin: auto 0 0 17%;
}

h1, .welcome-text {
    position: relative;
    margin: 0.2em 0;

}

.subhead {
    text-align: center;
    margin: 0.2em 0;
    color: #fff;

}

.button {
    background-color: #fff;
    width: 90px;
    height: 40px;
    margin: 0 0 0 40%;
    border-radius: 20px;
}
//Made by Dipin
//Copyright By Dipin
//Button align difference
//Made in 2020
//Via visual studio code
div div a p {
    text-align: center;
    padding: 12px 0 ;
    color: #000;
}
.footer-text {
    font-size: 20px;
    font-weight: bold;
}
.welcome-text {
    font-size: 3em;
    font-weight: bold;
    text-align: center;
}

.footer-container {
    width: 100%;
    height: 10em;
    position: relative;
    top: 1em;
    bottom: 0;
    background-color: #30E3CA;

}

footer div div ul a img {
    width: 21px;
    height: 21px;
    margin: 0 0.3em ;
}
